<ion-view view-title="Channels">
  <ion-content>    
      <ion-list>
        <!--<ion-item menu-close ng-click="login()">
          Login
        </ion-item>-->
        <div class="item item-divider">
            Channels
        </div>        
        <ion-item menu-close href="#/app/playlists">
          Channel1
        </ion-item>       
        <ion-item menu-close href="#/app/playlists">
          Channel2
        </ion-item>     
        <ion-item menu-close href="#/app/playlists">
          Channel3
        </ion-item>             
        <ion-item menu-close href="#/app/playlists">
          Channel4
        </ion-item>
        <ion-item menu-close href="#/app/playlists">
          Channel5
        </ion-item>
      </ion-list>



          {{ channelsCtrl.profile.displayName }}


  </ion-content>

</ion-view>
